astroid==2.4.2
certifi==2021.10.8
click==8.0.3
colorama==0.4.4
Flask @ file:///tmp/build/80754af9/flask_1634118196080/work
importlib-metadata @ file:///C:/ci/importlib-metadata_1631916826748/work
isort==5.7.0
itsdangerous @ file:///tmp/build/80754af9/itsdangerous_1621432558163/work
Jinja2==3.0.2
joblib @ file:///tmp/build/80754af9/joblib_1613502643832/work
lazy-object-proxy==1.4.3
MarkupSafe @ file:///C:/ci/markupsafe_1621528502553/work
mccabe==0.6.1
mkl-fft==1.3.1
mkl-random @ file:///C:/ci/mkl_random_1626186184308/work
mkl-service==2.4.0
numpy @ file:///C:/ci/numpy_and_numpy_base_1634088717532/work
pandas==1.3.4
pylint==2.6.0
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz==2021.3
scikit-learn @ file:///C:/ci/scikit-learn_1622739499047/work
scipy @ file:///C:/ci/scipy_1630606917240/work
six @ file:///tmp/build/80754af9/six_1623709665295/work
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
toml==0.10.2
Werkzeug==2.0.2
wincertstore==0.2
wrapt==1.12.1
zipp @ file:///tmp/build/80754af9/zipp_1633618647012/work
